{:deps {org.clojure/clojurescript {:mvn/version "1.11.60"}}
 :paths ["src"]

 :aliases
 {:dev {:main-opts ["-m" "cljs.main"
                    "--compile" "ch05-cljs-project.core"
                    "--repl"]}}}
